<table>



    <thead>
        <tr>
            <th>-</th>
            <th>Nome del corso</th>
            <th>elimina</th>

        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let elementoIessimoOggettoCorso of arrayDiOggettiCorsi; let i=index">


            <td>{{i + 1}}</td>


            <td>
                <!--! opzione 1  usando le quadre-->
                <a [routerLink]="['/home/corsi-detail', elementoIessimoOggettoCorso.id]">
                    <!-- ! ho aggiunto  "/home" per far si che quando vado  nel dettaglio, il menu "home" rimanga colorato di rosso(SELEZIONATO), altrimenti tale menu "home" diventa colorato di bianco(NON SELEZIONATO)-->
                    {{elementoIessimoOggettoCorso.titolo}}
                </a>
                 <!--! opzione 1 -->
                 <!--! opzione 2 senza usare le quadre-->
                 <!-- <a routerLink="/home/corsi-detail/{{elementoIessimoOggettoCorso.id}}">
                    {{elementoIessimoOggettoCorso.titolo}}
                </a> -->
                 <!--! opzione 2 -->
            </td>
            <td>
                <button type="button" (click)="rimuoviCorso(elementoIessimoOggettoCorso)">Elimina</button>

            </td>



        </tr>




    </tbody>
</table>


<mat-form-field appearance="fill" >
    <mat-label>Digita una o più parole chiavi</mat-label>

    <!-- *  opzione1 usando reactiv form-->
    <input type="text" placeholder="Cerca le notizie..." matInput
    [formControl]="parolaChiave">
    <!-- *  opzione1 -->

    <!-- * opzione2  usando template driven form -->
    <!-- <input type="text" placeholder="Cerca le notizie..." matInput
    #variabileTemplateTitolo="ngModel"[(ngModel)]="modello.titolo">  -->
    <!-- *  opzione2 -->
   
</mat-form-field>








<table>


    <thead>
        <tr>
            <th>-</th>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Data</th>
            <th>inHome</th>
            <th>elimina</th>


        </tr>

    </thead>



   


    <tbody>
        <!-- *opzione1 usando reactiv form -->
        <tr  *ngFor="let elementoIessimoOggettoNotizia of arrayDiOggettiNotizie | filtrareNews:parolaChiave.value!; let i=index">
        <!-- *opzione1 -->
        <!-- *opzione2 usando template driven form-->
        <!-- <tr *ngFor="let elementoIessimoOggettoNotizia of arrayDiOggettiNotizie | filtrareNews:modello.titolo"> -->
        <!-- *opzione2 -->
        <!-- *opzione3 -->
        <!-- <tr *ngFor="let elementoIessimoOggettoNotizia of arrayDiOggettiNotizie | filtrareNews:variabileTemplateTitolo.value"> -->
            <!-- ! se uso questa opzione , nella console mi compare: Cannot read properties of null (reading 'toLowerCase'): MA FUNZIONA NORMALMENTE  -->
            <!-- ! anche se metto il punto esclamativo mi compare lo stesso messaggio nella console . MA FUNZIONA NORMALMENTE-->
 
        <!-- *opzione3 -->


            <!-- ! "arrayDiOggettiNotizie" COINCIDE CON IL NOME DI PARAMETRO "arrayDiOggettiValueCheDevoFiltrare" del metodo transform() -->
            <!-- ! "parolaChiave.value" è il parametro della pipe -->
            <!-- ! tale parametro della pipe viene inserito dentro l'array "args" che si trova dentro il file "pipe.ts" -->

            <td>{{i + 1}}</td>
            <td>{{elementoIessimoOggettoNotizia.titolo}}</td>
            <td>{{elementoIessimoOggettoNotizia.autore}}</td>
            <td>{{elementoIessimoOggettoNotizia.data | date:"dd/MM/yyyy"}}</td>
            <td>{{elementoIessimoOggettoNotizia.inHome}}</td>
            <td>
                <button type="button" (click)="rimuoviNews(elementoIessimoOggettoNotizia)">Elimina</button>
            </td>
            <!-- ! se uso la pipe "date" con   data in formato: "24-04-2023", la console mi da errore-->
            
        </tr>

    </tbody>
</table>